 body {
      font-family: 'Segoe UI', sans-serif;
      background: #f5f7fa;
    }

    .sidebar {
      min-width: 220px;
      max-width: 220px;
      height: 100vh;
      background: #343a40;
      color: #fff;
      position: fixed;
    }

    .sidebar .nav-link {
      color: #fff;
    }

    .sidebar .nav-link.active {
      background: #495057;
      border-radius: 5px;
    }

    main {
      margin-left: 220px;
      padding: 30px;
    }

    .card-box {
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.2s;
      background: #fff;
    }

    .card-box:hover { transform: translateY(-3px); }

    table th, table td { text-align: center; vertical-align: middle; }

    .d-none { display: none !important; }


.confirm-toast {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff3cd;
  border: 1px solid #ffecb5;
  padding: 16px;
  border-radius: 8px;
  display: none;
  z-index: 9999;
}
.confirm-toast.show {
  display: block;
}

.toast2 {
  position: fixed;
  top: 20px;
  right: 20px;

  padding: 12px 20px;
  border-radius: 6px;

  color: white;
  font-size: 14px;

  opacity: 0;
  transform: translateX(100px);
  transition: all 0.4s ease;

  pointer-events: none;
  z-index: 10000;
}


.toast-success {
    background: #28a745;
}
.toast-error {
    background: #dc3545;
}

.toast-show {
  opacity: 1;
  transform: translateX(0);
}

.toast-warning {
  background: #ffc107;
  color: #000;
}


    @media (max-width: 768px) {
      main { margin-left: 0; padding: 15px; }
      .sidebar { position: relative; height: auto; max-width: 100%; }
    }